<style>
    body {
        margin: 20px;
    }
</style>

<body>
    <h1> Añadir priedra preciosa </h1>

    <form action="/inventory/create/" method="post">
        {% csrf_token %}
        <fieldset>
            <p> Id </p>
            <input type ="text" name="id">

            <p> Nombre </p>
            <input type ="text" name="name">
            
            <p> Tipo </p>
            <input type ="text" name="type">
        </fieldset>
        
        <input type="submit" value="Create">
    </form>
</body>