<h1>{{ gemstone.name }}</h1>
<ul>
    <li>{{gemstone.type}}</li>
    <li>{{gemstone.ammount_available}}</li>
</ul>

<!-- GEMSTONE MOVEMENTS -->
<a href="/inventory/entry/{{gemstone.id}}">
    Registrar entrada
</a>

<a href="/inventory/exit/{{gemstone.id}}">
    Registrar salida
</a>

<a href="/inventory/adjustment/{{gemstone.id}}">
    Ajustar cantidad disponible
</a>

<!-- CRUD OPERATIONS FOR GEMSTONES -->
<a href="/inventory/edit/{{gemstone.id}}">
    Editar nombre y tipo
</a>

<a href="/inventory/delete/{{gemstone.id}}">
    Eliminar priedra preciosa
</a>