<style>
    body {
        margin: 20px;
    }
</style>

<body>
    <h1> {{gemstone.name}} </h1>

    <form action="/inventory/edit/{{gemstone.id}}/" method="post">
        {% csrf_token %}
        <fieldset>
            <input type ="hidden" name="id" value="{{gemstone.id}}" >
            
            <p> Nombre </p>
            <input type ="text" name="name" value="{{gemstone.name}}">
            
            <p> Tipo </p>
            <input type ="text" name="type" value="{{gemstone.type}}">

        </fieldset>
        
        <input type="submit" value="Edit">
    </form>
</body>